h1{ 
    background-color: rgb(0, 26, 255);
    text-align: center;
    margin: 20px;
    padding: 20px;
}

p{
    font-weight: bold;
    float: left;
}

.pitbulls{
    padding: 200px;
    float: left;
}
